.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   padding: 0px 24px;

   @media (max-width: 665px) {
      position: relative;
      padding: 165px 24px;
      height: unset;
   }

   @media (max-height: 1220px) {
      position: relative;
      padding: 165px 24px;
      height: unset;
   }
}

.headline {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   height: 100px;
   display: flex;
   justify-content: space-between;
   z-index: 0;

   @media (max-width: 665px) {
      display: flex;
      flex-direction: column;
      height: 100%;
      min-height: 795px;
      padding: 0px 50px;
   }

   @media (max-height: 1220px) {
      display: flex;
      flex-direction: column;
      height: 100%;
      min-height: 795px;
      padding: 0px 50px;
   }

   span {
      padding: 75px;

      @media (max-width: 665px) {
         padding: 50px 0px;
      }
   }

   :first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;

      :nth-child(2) {
         font-size: 24px;
         font-weight: 800;
      }
   }

   :last-child {
      font-size: 18px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}

.login-container {
   background-color: #ffffff;
   max-height: 770px;
   max-width: 610px;
   border-radius: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-size: 18px;
   padding: 24px 0px;
   z-index: 1;

   div {
      width: 90%;
   }

   @media (max-width: 510px) {
      font-size: 17px;
   }
}

.headline-container {
   display: flex;
   flex-direction: column;
   justify-self: center;
   align-items: center;

   h1 {
      font-size: 46px;
      color: #444df2;
      padding-bottom: 40px;

      @media (max-width: 510px) {
         font-size: 32px;
      }
   }

   p {
      text-align: center;
   }

   @media (max-width: 510px) {
      font-size: 17px;
   }
}

.error-message {
   color: red;
   width: 90%;
   padding-top: 16px;
}

.inputfields-container {
   padding-top: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 26px;

   :first-child {
      background-image: url('/assets/img/login/mail.png');
      background-repeat: no-repeat;
      background-position: 4%;
   }

   :nth-child(2) {
      background-image: url('/assets/img/login/lock.png');
      background-repeat: no-repeat;
      background-position: 4%;
   }

   input {
      width: 90%;
      padding: 18px 40px;
      border-radius: 30px;
      height: 30px;
      background-color: #eceefe;
      border: none;
      outline: none;
      text-indent: 20px;
      font-size: 18px;
      border: 1px solid white;
      transition: border ease-in-out 200ms;

      &:hover {
         border: 1px solid #797ef3;
      }

      @media (max-width: 510px) {
         padding: 18px 10px;
      }
   }

   input::placeholder {
      padding-left: 30px;
      font-size: 18px;

      @media (max-width: 510px) {
         font-size: 17px;
      }
   }

   a {
      color: #444df2;
      text-decoration: none;
      cursor: pointer;
      border-radius: 30px;
      padding: 8px;
      transition: transform ease-in-out 200ms, background-color ease-in-out 200ms;

      &:hover {
         background-color: #eceefe;
         transform: scale(1.1);
      }
   }
}

.seperator-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
   padding: 40px 0px;
}

.sep-1,
.sep-2 {
   display: flex;
   background-color: #adb0d9;
   height: 2px;
   width: 35%;
}

.google-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #eceefe;
   color: #444df2;
   width: 90%;
   border-radius: 30px;
   border: none;
   height: 60px;
   font-size: 18px;
   cursor: pointer;
   border: 1px solid white;
   transition: border ease-in-out 200ms;

   &:hover {
      border: 1px solid #797ef3;
   }

   @media (max-width: 510px) {
      font-size: 17px;
   }
}

.btn-container {
   width: 90%;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 16px;
   padding-top: 40px;

   button {
      cursor: pointer;
      width: 155px;
      height: 50px;
      font-size: 18px;

      @media (max-width: 510px) {
         width: 150px;
         font-size: 15px;
      }
   }

   :first-child {
      border: none;
      border-radius: 25px;
      background-color: #444df2;
      color: white;
      padding: 12px 25px;
      transition: background-color ease-in-out 200ms;

      &:hover {
         background-color: #797ef3;
      }
   }

   :last-child {
      border: 1px solid #797ef3;
      background-color: white;
      color: #444df2;
      border-radius: 25px;
      padding: 12px 25px;
      transition: color ease-in-out 200ms, background-color ease-in-out 200ms;

      &:hover {
         color: white;
         background-color: #444df2;
      }
   }
}

.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 32px;
   padding-top: 100px;
   font-size: 18px;
   z-index: 1;

   a {
      text-decoration: none;
      cursor: pointer;
      color: #797ef3;
      border: 1px solid #eceefe;
      border-radius: 30px;
      padding: 4px 8px;
      transition: transform ease-in-out 200ms, border-color ease-in-out 200ms;

      &:hover {
         transform: scale(1.1);
         border-color: #797ef3;
      }
   }
}

.hover-effect {
   text-decoration: none;
   cursor: pointer;
   color: #797ef3;
   border: 1px solid #eceefe;
   border-radius: 30px;
   padding: 4px 8px;
   transition: transform ease-in-out 200ms, border-color ease-in-out 200ms;

   &:hover {
      transform: scale(1.1);
      border-color: #797ef3;
   }
}

//----Intro----//

.start-animation.none {
   display: none;
}

.start-animation {
   position: absolute;
   width: 100%;
   height: 100%;
   background: linear-gradient(1deg, #313ae5 1.22%, #797ef3 98.76%);
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 9;
}

.text {
   color: white;
   display: flex;
   align-items: center;
   font-size: 84px;
   overflow: hidden;
   height: 150px;
   font-weight: 700;
}

.content {
   display: flex;
   align-items: center;
   gap: 25px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@media (max-width: 650px) {
   .content {
      img {
         width: 75px;
         height: 75px;
      }

      span {
         font-size: 48px;
      }
   }
}

//----Intro-End----//
